<md-card layout="column">
    <md-table-container>
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>Nome</th>
                    <th md-column>Tipo</th>
                    <th md-column>Opções</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row data-ng-repeat="categoria in categoriaVm.categorias">
                    <td md-cell>{{categoria.Nome | uppercase}}</td>
                    <td md-cell>{{categoria.Tipo}}</td>
                    <td md-cell layout-align="end center">
                        <md-icon class="blue"
                                 data-ng-click="categoriaVm.irParaFormulario(categoria)"
                                 data-ng-tooltip="Editar"
                                 data-ng-direction="left">
                            edit
                        </md-icon>
                        <md-icon class="red" 
                                 data-ng-click="categoriaVm.remover(categoria.Id)"
                                 data-ng-tooltip="Remover"
                                 data-ng-direction="right">
                            delete
                        </md-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>