<md-toolbar class="md-whiteframe-3dp"
            layout="row"
            layout-align="start center"
            layout-padding>
    <span flex>
        @ViewBag.Title
    </span>
    <span hide-gt-md>
        <md-icon class="clickable" data-ng-click="mainVm.toggleSidenav()">menu</md-icon>
    </span>
</md-toolbar>